@import "vars";
@import "normalize";
@import "fonts";

body,html{
    overflow-x:hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-weight: 500;
    font-size: 48px;
}

h2 {
    text-shadow: 1.3px 1.5px 5.9px rgba(0, 0, 0, 0.25);
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

input::placeholder {
    outline: none;
}

img {
    max-width: 100%;
    height: 100%;
}

.main-general__btn a {
    box-shadow: inset 0px -8px 0 0 rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    a {
        text-decoration: none;
        border: solid 1px transparent;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    h2 {
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

input,
select {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #cccccc;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: left;
    color: #989898;
    height: 50px;
    padding: 0 10px;
    &:hover,
    &:active,
    &:focus {
        border: solid 1px #f4cb01;
        outline: none;
        color: #989898;
    }
}

.asphalt {
    position: relative;
}

.asphalt-popup {
    .heading {
        font-size: 30px;
        line-height: 0.8;
        letter-spacing: 1.5px;
    }
}

.asphalt-info {
    margin-top: -40px;

}

.popup-call .popup {
    margin-top: -60px;
}

.asphalt-info .bg-gray .row {
    padding: 0 20px;
}

.asphalt-info .heading {
    padding: 0 40px 40px;
}

.heading.black-line {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 65%;
        background-color: #000;
        top: 0;
        left: 16px;
    }
}

.video-wrap {
    position: relative;

    img {
        margin-left: -44px;
    }

    &:before {
        position: absolute;
        content: "";
        width: 404px;
        height: 211px;
        background-image: linear-gradient(to top, #ffe565, #f4cb01);
        z-index: -1;
        top: 0;
        right: 0;
    }
}

.services a {
    font-family: GothamPro;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 0.7px;
    color: #333333;

    &:hover,
    &:active,
    &:focus {
        color: #333333;
    }
}

.training {
    li:before {
        display: none;
    }
}

.text-price {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1.2px;
}

.info__text p {
    padding-bottom: 40px;
}

.tile .heading {
    padding: 0 50px 50px;
}

.tile .heading.black-line::before {
    height: 78%;
    top: 5px;
}

.yellow-border {
    border-bottom: 2px solid #f4cb01;
}

.asphalt-popup {
    position: absolute;
    z-index: 10;
    top: -40px;
}

.options {
    margin-top: 80px;
}

.popup {
    // border-left: 10px solid #f4cb01;
    background: url(../img/popup-bg.jpg) no-repeat;
    background-size: 100% 110%;
    box-shadow: 1.3px 1.6px 27px 0 rgba(0, 0, 0, 0.15);
}

.asphalt-popup.popup {
    margin: 0 auto;
}

.form-ingener__wrap {
    padding: 0 40px;
}

li {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        background-color: #f4cb01;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: 5px;
        left: -20px;
    }
}

input {
    display: block;
    width: 100%;
}

.heading-gotman {
    font-family: GothamPro;
}

.yellow-btn {
    border-radius: 25px;

    border: none;
    outline: none;
    background-color: #f4cb01;
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    padding: 15px 0;
    display: block;
    width: 100%;
    color: #333333;

    &:active,
    &:focus,
    &:hover {
        color: #333333;
    }
}

.header .main-general {
    box-shadow: inset 0px -8px 0 0 rgba(0, 0, 0, 0.1);
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-yellow {
    color: #f4cb01;
}

.main-general {
    background: url(../img/main-general-bg-1170.png) no-repeat;
    background-size: 110% 100%;
    padding-top: 150px;
}

.header a {

    &:hover,
    &:focus,
    &:active {
        color: #000;
    }
}

.video-wrap img {
    width: 100%;
    display: block;
}

.text-white {
    color: #ffffff;
}

.main-general h1 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.5px;
    padding-left: 38px;
    padding-top: 60px;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        height: 200px;
        width: 1px;
        background: #fff;
        bottom: 12px;
        left: 0;
    }
}

.header {
    width: 100%;
    position: absolute;
    z-index: 4;
    color: #333333;
    font-style: 16px;
    line-height: 1.71;
    letter-spacing: 0.7px;

    a {
        color: #333333;
        font-style: 16px;
        line-height: 1.71;
        letter-spacing: 0.7px;
    }
}


.heading-mini {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.57;
    letter-spacing: 0.7px;
    text-transform: none;
    color: #ffffff;
    padding-bottom: 25px;
}

.main-general h2 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: left;
    color: #f4cb01;
    padding-bottom: 45px;
}

.main-general__btn {
    padding-bottom: 210px;
}

.bg-gray {
    background-color: #f4f4f4;
}

.training {
    background-color: #333333;

    img {
        width: 100%;
        max-height: 500px;
    }
}

.training-text {
    padding: 0 23px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.7px;

    p {
        padding-bottom: 20px;
    }
}

.training-text h6 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.7px;
}

.options {
    background: url(../img/options-bg.png) no-repeat center;
    background-size: cover;
    font-family: GothamPro;

    a {
        font-family: GothamPro;
    }
}

.technology p {
    padding-bottom: 40px;
}

.asphalt-information {
    img {
        width: 100%;
    }
}

.technology-img {
    display: block;
    margin-bottom: -55px;
}

.work-gallery {
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

// .reviews-slider__author img {
//     width: 100%;
// }

.reviews-slider__author {
    background-color: #818181;
    border-top-left-radius: 20px;
}

.reviews-slider__item {
    h5 {
        line-height: 1.29;
        letter-spacing: 0.7px;
        font-size: 14px;
    }
}

.work-gallery a {
    width: 100%;
    display: block;
    height: 100%;
}

.reviews-slide__text {
    padding: 0 10px;
}

.map-wrap {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 9px 24.3px 2.7px rgba(0, 0, 0, 0.32);


    iframe {
        opacity: 0.8;
    }
}

.galery-link {
    position: relative;
}

.image-text {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 25px;

    h6 {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.7px;
    }

    h5 {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.8px;
    }
}

.galery-link:hover .image-text {
    display: block;
}

.galery-link:hover:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    border: solid 3px #f4cb01;
}

.galery-link:hover:after {
    background: url(../img/frame.png) no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
    border: solid 3px #f4cb01;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

.technology-slider__link:hover .image-text {
    display: block;
}

.technology-slider__link:hover:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border: solid 3px #f4cb01;
}

.technology-slider__link:hover:after {
    background: url(../img/frame.png) no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    pointer-events: none;
    border: solid 3px #f4cb01;
}

.technology-slider-3__link:hover .image-text {
    display: block;
}

.technology-slider-3__link:hover:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border: solid 3px #f4cb01;
}

.asphalt-information__bg {
    background: url(../img/asphalt-information__bg-1170.png) no-repeat;
    background-size: cover;
}

.header {
    padding: 50px 0;
    font-weight: bold;
}

picture {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.technology-slider-3__link:hover:after {
    background: url(../img/frame.png) no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    pointer-events: none;
    border: solid 3px #f4cb01;
}

.technology-slider-2__link:hover .image-text {
    display: block;
}

.technology-slider-2__link:hover:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border: solid 3px #f4cb01;
}

.technology-slider-2__link:hover:after {
    background: url(../img/frame.png) no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    pointer-events: none;
    border: solid 3px #f4cb01;
}

.footer-form {
    background-color: #333333;
}

.footer-text {
    border-top: 1px solid #818181;
}

.technology-slider__item {
    width: 100%;
    padding: 0;
    margin: 0;

    img {
        width: 120%;
        padding: 0;
        margin: 0;
    }
}

.reviews {
    background: url(../img/reviews-bg.jpg) no-repeat;
    background-size: cover;
}

.services-item {
    padding-top: 10px;
    padding-bottom: 10px;

    img {
        padding-bottom: 30px;
    }
}

.tile {
    padding-top: 140px;
}

.popup-call {
    margin-top: -70px;
}

.img-shadow {
    box-shadow: 1.3px 1.5px 15.8px 0.2px rgba(0, 0, 0, 0.3);
}

.line-yellow {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 100px;
        height: 1px;
        background-color: #f4cb01;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
    }


.asphalt-information h5 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    letter-spacing: 0.7px;
}

.asphalt-information__bg .info__text {
    padding: 0 20px;
}

.asphalt-information__bg .bg-gray {
    margin-left: 50px;
    box-shadow: 1.3px 1.5px 24.3px 2.7px rgba(0, 0, 0, 0.14);
}

.our-work__text {
    p {
        padding: 0 20px;
    }

    h6 {
        font-size: 14px;
        letter-spacing: 0.7px;
    }

    h5 {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.8px;
    }
}


.work-gallery__open {
    position: relative;
    cursor: pointer;

    &:before {
        position: absolute;
        content: "";
        width: 37px;
        height: 17px;
        bottom: -25px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background: url(../img/triangle.svg);
    }
}

.reviews-slider__wrap {
    background: #fff;
}

.slick-dots li {
    padding-bottom: 50px;

    &:before {
        display: none;
    }
}


.main .slick-dots li button {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #a7a7a7 !important;
    font-size: 0;
    color: transparent;
    align-items: center;
    margin: 3px 4px;

    &:before {
        display: none;
    }
}

.main .slick-dots .slick-active button {
    // border: solid 1px #808080;
    background-color: #808080;
    // margin: 3px;
    // margin: 3px;
}

.main .slick-dots .slick-active {
    border: solid 1px #808080;
    border-radius: 50%;
}

.stages-work--2 {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        top: 25%;
        left: -20px;
        width: 100px;
        height: 2px;
        background: #f4cb01;
    }

    &:after {
        position: absolute;
        content: "";
        top: 25%;
        right: -20px;
        width: 110px;
        height: 2px;
        background: #f4cb01;
    }
}

.footer {
    a {
        color: #333333;

        &:hover,
        &:active,
        &:focus {
            color: #333333;
        }
    }

    li::before {
        left: -2px;
    }

    h6 {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: 0.7px;
    }
}

.choice-item-1 {
    background: url(../img/choice-item-1.png) no-repeat;
    background-size: cover;
}

.choice-item-2 {
    background: url(../img/choice-item-2.png) no-repeat;
    background-size: cover;
}

.choice-item-3 {
    background: url(../img/choice-item-3.png) no-repeat;
    background-size: cover;
}

.choice-item-4 {
    background: url(../img/choice-item-4.png) no-repeat;
    background-size: cover;
}

.choice-item-5 {
    background: url(../img/choice-item-5.png) no-repeat;
    background-size: cover;
}

.choice-item-6 {
    background: url(../img/choice-item-6.png) no-repeat;
    background-size: cover;
}

.choice-item {
    position: relative;

}

.reviews-slider__author img {
    width: 56px;
    height: 56px;
}

.reviews-slider__author {
    padding-left: 10px;
    padding-right: 10px;
}
.asphalt-information__bg .line-yellow::before {
    top:70%;
}

.reviews .line-yellow::before {
    top: 70%
}
.work-gallery-2 {
    margin-top: 40px;
}
.review-slider {
margin: 0 auto;
}
.services  {
    img {
        width: 103px;
        height: 100px;
    }
}

@import "media";